@media (max-width: 740px) {
    .container {
        /* banner */
        .banner {
            .anhdaidien {
                padding-left: 20px;
            }
            .info {
                padding-left: 30%;
                .name {
                    h1 {
                        font-size: 25px;
                    }
                }
            }
        }

        /* menu */
        .menu {
            .navbar-brand {
                display: block;
            }
        }
    }
}
@media (max-width: 480px) {
    .container {
        /* banner */
        .banner {
            .info {
                padding-left: 27%;
                .name {
                    h1 {
                        font-size: 20px;
                    }
                    h3 {
                        font-size: 16px;
                    }
                }
            }
        }

        /* menu */
        .menu {
        }
    }
}
// home
@media (max-width: 1024px) and (min-width: 741px) {
    .container.home {
        .main {
            #skills {
                .content {
                    p {
                        min-width: 100% !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 740px){
    .container.home{
        .main{
            .left {
                border-right: none;
            }
        }
    }
}
// library
@media (max-width:768px){
    @mixin navDemo {
        @for $i from 1 through 10{
            #nav-#{$i}:checked {
                ~ .navbar-collapse.nav-#{$i}{
                    display: block;
                }
            }
        }
    }
    .navbar {
        @include navDemo();
    }
}
