//config
$banner-bc: #4fa4d8;
html {
  scroll-behavior: smooth;
  line-height: 1.5;
}
.container {
  background-color: aliceblue;
  /* banner */
  .banner {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    .anhdaidien {
      z-index: 9;
      img {
        border-color: #90b7d0;
      }
    }
    .info {
      align-self: center;
      background-color: $banner-bc;
      color: #fff;
      padding-left: 35%;
      position: absolute;
      left: 0;
      right: 0;
      .name {
        margin-top: 10px;
        margin-bottom: 10px;
        h1 {
          margin-bottom: 5px;
        }
      }
      .contact {
        h4 {
          margin-top: 4px;
          margin-bottom: 4px;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  /* welcome */
  .welcome {
    border-bottom: 5px solid $banner-bc;
    height: 50px;
    color: chartreuse;
    font-size: 25px;
    font-weight: bold;
    background-color: darkorange;
    letter-spacing: 2px;
    align-items: center;
  }
  /* menu */
  .menu {
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 5px;
    .navbar-brand {
      display: none;
    }
  }
  /*Footer*/
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #90b7d0;
    color: #fff;
    font-size: 18px;
  }
}

/* CSS For Home*/

.container.home {
  .main {
    margin-top: 10px;
    .left {
      border-right: 1px solid $banner-bc;
    }
    .items {
      border-top: 1px solid $banner-bc;
      padding-top: 15px;
      padding-bottom: 15px;
      .title {
        margin-bottom: 5px;
        h3 {
          text-transform: uppercase;
          color: $banner-bc;
          font-weight: bold;
        }
      }
      .content {
        font-size: 18px;
        text-align: justify;
      }
    }
    #skills,
    #interest {
      .content {
        ul {
          list-style: circle;
          padding-left: 20px;
          li {
            p {
              display: inline-block;
              min-width: 50%;
            }
            i {
              color: $banner-bc;
            }
          }
        }
      }
    }
    #workExperience {
      .content {
        p.link {
          overflow-x: auto;
        }
      }
      .content + .content {
        margin-top: 15px;
      }
    }
  }
}

/* CSS For library.html */
.container.library {
  .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
  }
  .sub_title {
    text-transform: capitalize;
    font-weight: bold;
  }
  // .description {
  // }
  .demo {
    .container-fluid {
      background-color: #fff;
      text-align: center;
    }
  }
  .code {
    font-size: 16px;
  }
  //for layout
  #TLA_layout {
    .demo {
      font-size: 20px;
      .wrapDemo {
        overflow-x: auto;
        .container-fluid {
          min-width: 1024px;
        }
      }
      .container-fluid {
        .row {
          margin-top: 5px;
          margin-bottom: 5px;
          > div {
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid #fff;
            background-color: #ccc;
          }
        }
      }
      //for nested layout demo
      &.nested {
        .container-fluid {
          .row {
            margin-top: 0;
            margin-bottom: 0;
            div {
              padding-top: 0;
              padding-bottom: 0;
              p{
                padding: 10px;
              }
            }
          }
        }
      }
      .example {
        background-color: #fff;
        padding: 10px;
        padding-left: 40px;
        list-style-type: decimal;
      }
    }
  }
  //for navigation
  #TLA_nav {
    .demo {
      .container-fluid {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: unset;
      }
    }
  }
}
/* Responsive */
@import "resopsive.scss";
