//config
$banner-bc: #4fa4d8;
html{
  scroll-behavior: smooth;
  line-height: 1.5;
}
.container {
  background-color: aliceblue;
  /* banner */
  .banner {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    .anhdaidien {
      z-index: 9;
      img {
        border-color: #90b7d0;
      }
    }
    .info {
      align-self: center;
      background-color: $banner-bc;
      color: #fff;
      padding-left: 35%;
      padding-right: 50px;
      position: absolute;
      left: 0;
      right: 0;
      .name {
        margin-top: 10px;
        margin-bottom: 10px;
        h1 {
          margin-bottom: 5px;
        }
      }
      .contact {
        h4 {
          margin-top: 4px;
          margin-bottom: 4px;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  /* welcome */
  .welcome {
    border-bottom: 5px solid $banner-bc;
    height: 50px;
    color: chartreuse;
    font-size: 25px;
    font-weight: bold;
    background-color: darkorange;
    letter-spacing: 2px;
    align-items: center;
  }
  /* menu */
  .menu {
    margin-top: 5px;
    .navbar-brand {
      display: none;
    }
  }
}
/* Responsive */
@import "resopsive.scss";

/* CSS For Home*/

.container.home{
  .main{
    margin-top: 10px;
    .left{
      border-right: 1px solid $banner-bc;
    }
    .items{
      border-top: 1px solid $banner-bc;
      padding-top: 15px;
      padding-bottom: 15px;
      .title{
        margin-bottom: 5px;
        h3{
          text-transform: uppercase;
          color: $banner-bc;
          font-weight: bold;
        }
      }
      .content{
        font-size: 18px;
        text-align: justify;
      }
    }
    #skills,#interest{
      .content{
        ul{
          list-style: circle;
          padding-left: 20px;
          li{
            p{
              display: inline-block;
              min-width:50%
            }
            i{
              color: $banner-bc;
            }
          }
        }
      }
    }
    #workExperience{
      .content+.content{
        margin-top: 15px;
      }
    }
  }
}

/* CSS For library.html */
%demo {
  .container-fluid {
    background-color: #fff;
    text-align: center;
  }
}
.container.library {
  .layout {
    .title {
      text-transform: uppercase;
      font-weight: bold;
    }
    .sub_title {
      text-transform: capitalize;
      font-weight: bold;
    }
    .demo {
      @extend %demo;
      font-size: 20px;
      .row {
        margin-top: 5px;
        margin-bottom: 5px;
        > div {
          padding-top: 10px;
          padding-bottom: 10px;
          border: 1px solid #fff;
          background-color: #ccc;
        }
      }
      //demo for nested
      &.nested {
        .container-fluid {
          background-color: #ccc;
          .row {
            margin-top: unset;
            margin-bottom: unset;
            align-items: center;
          }
        }
      }
    }
    .example{
      background-color: #fff;
      padding: 10px;
      padding-left: 40px;
      list-style-type: decimal;
    }
    .code {
      code {
        font-size: 16px;
      }
    }
  }
}
