html {
  scroll-behavior: smooth;
  line-height: 1.5;
}

.container {
  background-color: aliceblue;
  /* banner */
  /* welcome */
  /* menu */
  /*Footer*/
}
.container .banner {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}
.container .banner .anhdaidien {
  z-index: 9;
}
.container .banner .anhdaidien img {
  border-color: #90b7d0;
}
.container .banner .info {
  align-self: center;
  background-color: #4fa4d8;
  color: #fff;
  padding-left: 35%;
  position: absolute;
  left: 0;
  right: 0;
}
.container .banner .info .name {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .banner .info .name h1 {
  margin-bottom: 5px;
}
.container .banner .info .contact h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.container .banner .info .contact h4 i {
  margin-right: 10px;
}
.container .welcome {
  border-bottom: 5px solid #4fa4d8;
  height: 50px;
  color: chartreuse;
  font-size: 25px;
  font-weight: bold;
  background-color: darkorange;
  letter-spacing: 2px;
  align-items: center;
}
.container .menu {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 5px;
}
.container .menu .navbar-brand {
  display: none;
}
.container .menu .navbar-collapse {
  height: 50vh;
  overflow-y: auto;
}
.container .footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #90b7d0;
  color: #fff;
  font-size: 18px;
}

/* CSS For Home*/
.container.home .main {
  margin-top: 10px;
}
.container.home .main .left {
  border-right: 1px solid #4fa4d8;
}
.container.home .main .items {
  border-top: 1px solid #4fa4d8;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container.home .main .items .title {
  margin-bottom: 5px;
}
.container.home .main .items .title h3 {
  text-transform: uppercase;
  color: #4fa4d8;
  font-weight: bold;
}
.container.home .main .items .content {
  font-size: 18px;
  text-align: justify;
}
.container.home .main #skills .content ul,
.container.home .main #interest .content ul {
  list-style: circle;
  padding-left: 20px;
}
.container.home .main #skills .content ul li p,
.container.home .main #interest .content ul li p {
  display: inline-block;
  min-width: 50%;
}
.container.home .main #skills .content ul li i,
.container.home .main #interest .content ul li i {
  color: #4fa4d8;
}
.container.home .main #workExperience .content p.link {
  overflow-x: auto;
}
.container.home .main #workExperience .content + .content {
  margin-top: 15px;
}

/* CSS For library.html */
.container.library .title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}
.container.library .sub_title {
  text-transform: capitalize;
  font-weight: bold;
}
.container.library .demo .container-fluid {
  background-color: #fff;
  text-align: center;
}
.container.library .code {
  font-size: 16px;
}
.container.library #TLA_layout .demo {
  font-size: 20px;
}
.container.library #TLA_layout .demo .wrapDemo {
  overflow-x: auto;
}
.container.library #TLA_layout .demo .wrapDemo .container-fluid {
  min-width: 1024px;
}
.container.library #TLA_layout .demo .container-fluid .row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.container.library #TLA_layout .demo .container-fluid .row > div {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #fff;
  background-color: #ccc;
}
.container.library #TLA_layout .demo.nested .container-fluid .row {
  margin-top: 0;
  margin-bottom: 0;
}
.container.library #TLA_layout .demo.nested .container-fluid .row div {
  padding-top: 0;
  padding-bottom: 0;
}
.container.library #TLA_layout .demo.nested .container-fluid .row div p {
  padding: 10px;
}
.container.library #TLA_layout .demo .example {
  background-color: #fff;
  padding: 10px;
  padding-left: 40px;
  list-style-type: decimal;
}
.container.library #TLA_nav .demo .container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: unset;
}

/* Responsive */
@media (max-width: 740px) {
  .container {
    /* banner */
    /* menu */
  }
  .container .banner .anhdaidien {
    padding-left: 20px;
  }
  .container .banner .info {
    padding-left: 30%;
  }
  .container .banner .info .name h1 {
    font-size: 25px;
  }
  .container .menu .navbar-brand {
    display: block;
  }
}
@media (max-width: 480px) {
  .container {
    /* banner */
    /* menu */
  }
  .container .banner .info {
    padding-left: 27%;
  }
  .container .banner .info .name h1 {
    font-size: 20px;
  }
  .container .banner .info .name h3 {
    font-size: 16px;
  }
}
@media (max-width: 1024px) and (min-width: 741px) {
  .container.home .main #skills .content p {
    min-width: 100% !important;
  }
}
@media (max-width: 740px) {
  .container.home .main .left {
    border-right: none;
  }
}
@media (max-width: 768px) {
  .navbar #nav-1:checked ~ .navbar-collapse.nav-1 {
    display: block;
  }
  .navbar #nav-2:checked ~ .navbar-collapse.nav-2 {
    display: block;
  }
  .navbar #nav-3:checked ~ .navbar-collapse.nav-3 {
    display: block;
  }
  .navbar #nav-4:checked ~ .navbar-collapse.nav-4 {
    display: block;
  }
  .navbar #nav-5:checked ~ .navbar-collapse.nav-5 {
    display: block;
  }
  .navbar #nav-6:checked ~ .navbar-collapse.nav-6 {
    display: block;
  }
  .navbar #nav-7:checked ~ .navbar-collapse.nav-7 {
    display: block;
  }
  .navbar #nav-8:checked ~ .navbar-collapse.nav-8 {
    display: block;
  }
  .navbar #nav-9:checked ~ .navbar-collapse.nav-9 {
    display: block;
  }
  .navbar #nav-10:checked ~ .navbar-collapse.nav-10 {
    display: block;
  }
}
