//Layout config
$marginDistance_PC: 16px;
$marginDistance_Tab: 12px;
$marginDistance_Mobile: 10px;

//Standard colors
$primaryColor: #0069d9;
$secondaryColor: #5a6268;
$successColor: #218838;
$dangerColor: #c82333;
$warningColor: #e0a800;
$infoColor: #138496;
$lightColor: #e2e6ea;
$darkColor: #23272b;

//Toast Messages CSS Config
$widthToastItem: 400px; //withd of Toast Item
$bgColorToastItem: #fff; //backgroud color of Toast Item
$mbToastItem: 24px; //distance between elements
